<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project_shst</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet"href="~/css/BootstrapthemSheet.css"/>
   @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project_shst.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

                   
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Project_shst</a>  
                    
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
                        <li class="active">
                            
                                <a class="nav-link text-dark" asp-area="" asp-controller="Brands" asp-action="Index">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-markdown-fill" viewBox="0 0 16 16">
                                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm11.5 1a.5.5 0 0 0-.5.5v3.793L9.854 8.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L12 9.293V5.5a.5.5 0 0 0-.5-.5zM3.56 7.01h.056l1.428 3.239h.774l1.42-3.24h.056V11h1.073V5.001h-1.2l-1.71 3.894h-.039l-1.71-3.894H2.5V11h1.06V7.01z" />
                                    </svg>
                                </a>
                        </li>
      
      
                        <li></li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="ElProducts" asp-action="Indexx">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop-window" viewBox="0 0 16 16">
                                    <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </a>
                        </li>
                           
                       
                       
                        <li class="nav-item ">
                            <a class="nav-link text-info  @*btn btn-info*@" asp-controller="Cart3" asp-action="Index"><i class="bi bi-cart-plus"></i></i></a>
                        </li></li>
                        <li class="nav-item ">
                            <a class="nav-link text-info  @*btn btn-info*@" asp-controller="Cart3" asp-action="Shiping"><i class="bi bi-truck"></i></i></a>
                        </li>


                        <li class="nav-item ">
                            <a class="nav-link text-info  @*btn btn-info*@" asp-controller="Py_method" asp-action="Index">Pyment-Method</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-info @*btn btn-info*@" asp-controller="Cart3" asp-action="Pay"> Payment</a>


                        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
                        <li>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#"> <partial name="_LoginPartial" /></a></li>
                            </ul>
                        </li>
      </ul>
    </div>
  </div>
</nav>




    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="Notification.cshtml" />
            @RenderBody()
        </main>
    </div>

   @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Project_shst - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
